Build a regression model.

In [4]:
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np
import pandas as pd

In [8]:
fs_df = pd.read_csv("fs_venues.csv")

In [9]:
fs_df.head(2)

,Station ID,Bars - All,Restaurants - All,Shopping - All,Education - All,Arts and Entertainment - All,Total - All Venues
0,7a19c49f486d7c0c02b3685d7b240448,1,7,4,1,1,14
1,32603a87cfca71d0f7dfa3513bad69d5,7,25,23,2,3,60

In [13]:
y = fs_df["Total - All Venues"]
X = fs_df.drop("Total - All Venues", axis=1)
X = fs_df.drop("Station ID", axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:     Total - All Venues   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 8.046e+32
Date:                Mon, 07 Nov 2022   Prob (F-statistic):               0.00
Time:                        14:05:42   Log-Likelihood:                 7585.7
No. Observations:                 240   AIC:                        -1.516e+04
Df Residuals:                     234   BIC:                        -1.514e+04
Df Model:                           5
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                         4.441e-16   3.83e-16      1.160      0.247    -3.1e-16     1.2e-15
Bars - All                       0.1667   3.21e-16   5.18e+14      0.000       0.167       0.167
Restaurants - All                0.1667   9.94e-17   1.68e+15      0.000       0.167       0.167
Shopping - All                   0.1667   7.63e-17   2.19e+15      0.000       0.167       0.167
Education - All                  0.1667   1.22e-16   1.37e+15      0.000       0.167       0.167
Arts and Entertainment - All     0.1667   1.84e-16   9.05e+14      0.000       0.167       0.167
Total - All Venues               0.8333   5.37e-17   1.55e+16      0.000       0.833       0.833
==============================================================================
Omnibus:                      128.826   Durbin-Watson:                   1.378
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              886.424
Skew:                          -2.037   Prob(JB):                    3.28e-193
Kurtosis:                      11.488   Cond. No.                     2.35e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.44e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [14]:
fs_df.head()

,Station ID,Bars - All,Restaurants - All,Shopping - All,Education - All,Arts and Entertainment - All,Total - All Venues
0,7a19c49f486d7c0c02b3685d7b240448,1,7,4,1,1,14
1,32603a87cfca71d0f7dfa3513bad69d5,7,25,23,2,3,60
2,6d42fa40360f9a6b2bf641c7b8bb2862,1,9,3,1,2,16
3,66f873d641d448bd1572ab086665a458,0,1,1,0,0,2
4,485d4d24c803cfde829ab89699fed833,0,8,7,7,0,22

In [16]:
#Further let's predict the number of bars in an area based on number of other business types in an area. 
y = fs_df["Bars - All"]
X = fs_df.drop(["Total - All Venues", "Station ID", "Bars - All"], axis=1)
X = sm.add_constant(X) #adds a column of 1's so the model will contain an intercept

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             Bars - All   R-squared:                       0.469
Model:                            OLS   Adj. R-squared:                  0.459
Method:                 Least Squares   F-statistic:                     51.79
Date:                Mon, 07 Nov 2022   Prob (F-statistic):           3.12e-31
Time:                        14:15:36   Log-Likelihood:                -291.61
No. Observations:                 240   AIC:                             593.2
Df Residuals:                     235   BIC:                             610.6
Df Model:                           4
Covariance Type:            nonrobust
================================================================================================
                                   coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                            0.0291      0.069      0.424      0.672      -0.106       0.164
Restaurants - All                0.0957      0.010      9.540      0.000       0.076       0.115
Shopping - All                  -0.0210      0.008     -2.487      0.014      -0.038      -0.004
Education - All                  0.0533      0.020      2.604      0.010       0.013       0.094
Arts and Entertainment - All     0.1493      0.032      4.611      0.000       0.086       0.213
==============================================================================
Omnibus:                       86.157   Durbin-Watson:                   2.143
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              485.167
Skew:                           1.297   Prob(JB):                    4.44e-106
Kurtosis:                       9.465   Cond. No.                         18.6
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [17]:
X.head()

,const,Restaurants - All,Shopping - All,Education - All,Arts and Entertainment - All
0,1.0,7,4,1,1
1,1.0,25,23,2,3
2,1.0,9,3,1,2
3,1.0,1,1,0,0
4,1.0,8,7,7,0

Provide model output and an interpretation of the results.

In [ ]:
#R-squared is 0.469
#Adjusted r-squared is 0.459
#Models accounts for approximately 46% of the variation in dependent variable
    #ie. the number of businesses (in the four selected categories) in an area can describe 45% of the variation 
    #in the number of bars in an area