In [1]:
# imports
import requests
from pprint import pprint
import pandas as pd
import json
from IPython.display import JSON #for nice JSON (or dict) display in JupyterLab (not currently supported in Jupyter Notebook)
import numpy as np

In [2]:
#Load bike station ids and lat/longs (see collapsed cell below)

In [3]:
ids_ll = pd.DataFrame({'Station ID': {0: '7a19c49f486d7c0c02b3685d7b240448',
  1: '32603a87cfca71d0f7dfa3513bad69d5',
  2: '6d42fa40360f9a6b2bf641c7b8bb2862',
  3: '66f873d641d448bd1572ab086665a458',
  4: '485d4d24c803cfde829ab89699fed833',
  5: 'b07d513f87897cff7319a0e59d7e567c',
  6: 'd1c9556d92f329703229fb3e33899a3b',
  7: '95e624191c655f50e401d280cd39a9ad',
  8: '3e112f9fe877e0003780386359060ae6',
  9: '6993b3dbb0758927967592ea612a2b1e',
  10: 'bf8408067b0e0c963f3ff526977bcef3',
  11: 'd2244f1a81d317c76cabd65e81250835',
  12: '0b543fc4e694fe07a54dac48bb1b3390',
  13: '1b4c6f63f4bfbbd983992dbdca776865',
  14: 'fbb1d30d7f30b049873f5be5688563d4',
  15: '7181df50ee1d1a05559399211382b7c8',
  16: '2ef000bc9d4650d8cc6198c4d570b19f',
  17: 'b7683a86874e6300fd89f4cc0b075f57',
  18: '3367c1e1dbf73caf7c10e4c96a92f58d',
  19: '1d7e73b3321ebb6713774d376247d9f9',
  20: '664502c28e8147615f17b8ea355f40d0',
  21: '6c24a62b5ee0a2a8014eb0dfb6d40025',
  22: 'fad9ebcf614dd1a72593a34072ff76f8',
  23: '3a4131fa94946d93d3529136efd62413',
  24: '25318ec3e06fae1397a3a2f645104149',
  25: '444991edc9550be0908f032da5e3c95f',
  26: '434b6f4e7fc30198f901b60fc905f609',
  27: 'f97d5bf41f35aa181288429fb52e3488',
  28: 'fef69fb400210d861107a61db954d037',
  29: '9d3123425823420514b8ad410074f02d',
  30: 'f1ca711137cde59e824167a4274df888',
  31: '4f6ebf2026d540ffe40e29a80138ad5e',
  32: 'be14efdc86dedd6a8cd338e78ab4e7c7',
  33: '6ddeafa873279951630a00191333c45d',
  34: 'c7b5bec0b2f4ab9a2d3f9d837725620c',
  35: 'b9fd847d53fe45658fee4c46e7f562b8',
  36: 'c2be5403b1c101e8032cf6696457200e',
  37: '71c064fa93cab5f0b7306e6c923b77c4',
  38: '96bf713e60bc35cc2feb5fd53a4f3471',
  39: '8dc684732a2a25bdf63ec0ecccee4e6e',
  40: '686c0fdb962e26e274d81fc286c010dd',
  41: '0cf6cd1809fa7f510812f5b052f578c4',
  42: '93c88a18c673e2c72a6afa93d6b89f18',
  43: '8fb5ce1e34ad31de940481953aea452c',
  44: 'aa704bfba40286bd0661b64d1f75e778',
  45: '8c9ea7f2132376859ef34fab981d6932',
  46: '1d4153659a0a0a2089078c739df6737d',
  47: 'fbb4c06b719596c21f91fd51ef6d4710',
  48: '72c1049dfbbde7c24ec45c14f1a5ee85',
  49: '00fa94ad698dc4a9e4d708d6fd32f294',
  50: 'efa947b901a2cf85b58320b3ad26a2fe',
  51: '66a53e9c32e4f5c724f9478240020142',
  52: '97b25faf822b93fdbf72da1d594c0288',
  53: '6c7fb9043e6df5a4cc50404581a947b9',
  54: '30bf49544b1c864688b78172d42cca5e',
  55: '9f63cebac9073eac3e90be2b9a91b02b',
  56: '9aa325529164ec68b4d96c4f1c4fc7c1',
  57: 'e3d32ad772a5898c3b96c4d23d2cd542',
  58: '625a2ad202275c8e2be3ce868e85b105',
  59: '6c0de983fb47a3439a9e3c36a3d15804',
  60: '92c9e62c0b42adf4759c430009d3987a',
  61: '51e4d3731aebbf9c3186f310a08de6c8',
  62: '826af7eee4ce28b6fa4b4f0211305792',
  63: '4cb84c9a3743287019ae00ceef9a1cd3',
  64: '56fef9ba0af67a4ff3e661a8e02c0b08',
  65: 'c81f75a80312c51ceaef1304beac1990',
  66: 'afacb2133f2462aba7748cc21b71c788',
  67: 'a9f0b06d07f89b75e92c0cf686223aea',
  68: '686b314a6c3348efd2297d6b3dfed1a7',
  69: '0d1b5c62f8d22e3650811df55596e25b',
  70: '521c2122c791ed038168c3b8ff24061b',
  71: '838d5bb59963474ad08a6d5b156943ed',
  72: 'b9ab6ce009eda6006ade1d7568d9db9c',
  73: '9ec4163496363b31ab475cb851b57b21',
  74: 'fedff7a263c182df94bda7307059cc52',
  75: 'b9baf685b7053de899bf3467f61c2781',
  76: '8d6f0cbf7d44d2908c8ce73ed00dbf66',
  77: '988f8f74c4a12d1a30ddf2f7cd6318f8',
  78: '2f09a64507cf6257c67ca20af27339eb',
  79: '73f388336d879bedc962cd412eb0296e',
  80: 'cb6fddfdac7d350d25be475c7ab9e05a',
  81: 'cadc004f0903ef45e898032143c0832f',
  82: '57e928d8c30fab0ebffb3ede850f89d6',
  83: '6526a2eb3832f9ba0224d237e901ea5b',
  84: 'e44c2235dd603dbee54fe08f7543e85a',
  85: '3596b4831ee2ea7812de753b32306835',
  86: 'c448b73d92f7f8e1daafb3b9c5fbe6a6',
  87: '5fc29e0ac42c11abb45bf12aaeb925bd',
  88: '61901a235d4cfceb7f8f2c3888b98617',
  89: '175a074bf65455d1633639511dc129c8',
  90: '35eb539fb9298bb7e4f6759ca0256505',
  91: '7b8dfa12900bcb02b47a14e4e5010ba3',
  92: 'b30ed0719dd281867a4d39779c78b58a',
  93: 'e1a4d91fdae7e18483373f648141e53e',
  94: 'ace20c241ee38643c9060f290b215b9d',
  95: '3aed670ccdcd94b966c0f505f8b028c7',
  96: 'ae69aeab748d02e5a7d89da28a1a8511',
  97: '0c9ad3e3703e5869b82619ecdf54f43e',
  98: '852212d6d52b5f00544fad01d21c7db2',
  99: 'f3708906ec71348f5a42579fede36a0d',
  100: 'd145b7498709289702095a4a2fcb2e03',
  101: '9449a6a83fbf88452e384350e5ac95b7',
  102: '365da33e9ce06ea53db1173a0f8eae71',
  103: '707c1c54e0278fbae5d0ae3c42a25b71',
  104: '5105df3dd0daf4c26980f4134f61e5cc',
  105: '82c794442f54fabf9db6e392ca1fac0f',
  106: '2ca388bba54706770900ca2a9d7aa5be',
  107: 'e7bf01431a6982f032996ad50a9e5bd7',
  108: '1648ead5ea617d2cea115869d9516f5e',
  109: '91035fe1d70b65c9cb8ec4a007af7c7f',
  110: 'd3aaff4414a8c3fd5480c470f77ff68a',
  111: 'b307709b305dd04328fbbf2c6db86419',
  112: 'e9c4bd1fffbb1e5b058b8ea15f7307f6',
  113: 'bb0847559ce71c93d8215c0997ea2811',
  114: '1ef5c4ff3f0b09422bb1597fd9d7568b',
  115: 'ac3b8198f03754a0afb8b6ed6d220cdd',
  116: '029a505bd4422a1afd127987757f71a6',
  117: '0459b7e93703980b853cd65a9dc60596',
  118: 'a21f40838346e300063bdda3c5c04105',
  119: '209fb233aff275020a640c8c40a18d90',
  120: '6b1622540fe5c85d365754dd8c20bf0c',
  121: 'ebc551adb0fc1a684f4080e4954a9ba4',
  122: '6eaa02e5bcf78db5386683d38fa2dabd',
  123: '983e58671adcc67af94457d7887dbb15',
  124: '797ff1725f8d2b18337de51e240ff60d',
  125: '277b4b4881bdb7dac73012672179def8',
  126: 'e1ff428dadc7c32141b9d89a7b56728a',
  127: '012d3e06901cc222b1c2cf0a2ace3a29',
  128: 'a6455af6b689bcbad07ae2c8a3419b50',
  129: '475627e149c1a6ba73caac8d8d2fa617',
  130: 'f387ec226c432c5c054e3d3616d90501',
  131: '1675a77b9af656faf527b4e6de53e63b',
  132: '1bca0e944a4faf170db82793414b03ab',
  133: 'd0782213f003ce9eb276fbceff44f1f4',
  134: '1ef01f2f89621d51afbabaa6296e55be',
  135: 'c47a1f62ea461ce1c9f3e2478c657df6',
  136: '0cee06d7d10f7d3162cea03d22b7beed',
  137: 'f62bc2bfe9a0a563d5b6745ce6d962ba',
  138: '1c8f7fd6535db12cc45cfc59aa9da058',
  139: '17a3320a52bcc62161908967f8a06613',
  140: 'aed214941445e0345aa3254805a9e8b8',
  141: 'd67640af1b3b3b3ce47169dbc9182470',
  142: 'b2c6aaf2b4fa8937bfe3941c038683aa',
  143: '0a43242bee10cd33f539af2c1bf5ecbf',
  144: '198810b9b0af5d229d1b6fa12c620e06',
  145: 'd02e2eaafda91425eddd24d8acd328ab',
  146: '08c7a90bf297fde8c1f1156db13987d4',
  147: '97005696a3dff3366a8410b817388990',
  148: 'c52e51e3288a00993bdf892fdc2c2c2c',
  149: '7d231a181d21056e4ba80c4d9939fe92',
  150: 'dcf3d5c9f1b3a46f0ef2eb2247931f89',
  151: '9bee3167f10c884044cea0d36afcd1ef',
  152: '45a4c865db23e1cad0209afa5a799de0',
  153: 'fe0c57d04d6e682d284d501446095fc9',
  154: 'b10d422b045805f1c350c47c983381e8',
  155: '4e8fdc99e77ba1b70d90e124a704d0c1',
  156: 'b562f08327af465e4531e20226789489',
  157: '4ac99b928a91d8ccb785c9d0b805adb6',
  158: '99c81f71db35911c79a86a1c5edc5604',
  159: 'e12234b6f1299d178f34bffaca92f043',
  160: '5a34495280727a5b50b9aa41e14e9a16',
  161: '9130f9aa3bb037a04c17e6f2630327e5',
  162: '9a48ca226f82f52d02707b054ebc7e9e',
  163: 'b3bb9f58d3530d33a1a09b6be9e973e0',
  164: 'c2f4e05c01ea0d27934ac7dbc50cbd0c',
  165: '9a5478470b56379c31cf4e671584d5cc',
  166: '257715b845828e027ff35dd0f11c971e',
  167: '910027847876403b57f1013c16504688',
  168: '06487275cd19694152824c7c3088e8ff',
  169: 'b428c0e64d9b9fdb3bf8e85c95ffdf6b',
  170: 'd085c6749a32517e1fb0d070e4128402',
  171: 'a6aec7b8c25da4c02829cd7839b8933d',
  172: 'c924f6a41b130fad49cfae47271314bc',
  173: '8e93d0da1ee6caadf21ed9575b5fa9da',
  174: '9413725a5d3bb5ce2ad0682b07a3ffab',
  175: '7ed043a19e6a4ece742fe747b663bdbf',
  176: 'ce5dccf5a0f190bb4567a2fd93e7971e',
  177: '844aa75af0d3235a86ff827c81395afd',
  178: '1d442ad1a71774c82688a45954e47bfd',
  179: '2781435bde344e1b64f1bebac6bc9008',
  180: 'e9b37f2d9b7b2e2e3ade73f13acb69b2',
  181: 'fffd87607aaae16fbb1f71615cbe7d17',
  182: 'da8b6e94f90ad41a3f8de10596992372',
  183: '32f70f7ae14ba87523c6286a6c4d5c37',
  184: 'df5ab349a7a85d4b10da4cc3ec65c607',
  185: 'e0318460138ffbf4692005d5b5a9f900',
  186: 'db51c556fe50ec1deefbc9697c70cb51',
  187: '58a026f0c506caec20697a4f90538450',
  188: '0e0aef6fabaa808b3a3cef24657257a4',
  189: '90c746df94ce1a12f1f617acfe4a8ce3',
  190: '80b5c12ef21fd47275d37b2c9935249c',
  191: '899f59a9994302e8e1e4be01117ef707',
  192: '8d2d5bb3b9142f781f2a7f441e6bad7a',
  193: '5de0fe55497681d4cc9dd25509cf51ab',
  194: '2681455ba2d97283998a806b14d3e95c',
  195: '064a7b39b1dbc4bfc4cf8f454e360c57',
  196: '9c1397c06e07bf74fc049f1a0872eea0',
  197: 'c64ee19c62a363019ddbaedf71df2882',
  198: '421516af381a11f54d07fc79be68d3d3',
  199: '38f045e3f43f86eae42ca4c60257ade0',
  200: '5ba6e9725b1b0ee8cd25df976e47726b',
  201: 'f90ed7ad754ec04b7852941a480a4c77',
  202: 'abfaf72456a4828a22f5bf60d3a80777',
  203: '2ff7eb4230654603592ab1b0780ec5e1',
  204: 'ea9485fcdce0611243474d000e4ad248',
  205: '671ce9e4a92063620f772d2c57f0f3ab',
  206: '41a55a7e2908fbbd65175b794d26bc8d',
  207: 'a59924f0ff3fb481a7bd8a5e9c36858f',
  208: '89a0b49a66e54a7639ad960962148a3e',
  209: '44fc3d58831a9f2b919c7a3a1838b74a',
  210: 'd40db8c27c5bd409d57cfa846f73c378',
  211: '4990fe5772f3b73eebeec125b41e478e',
  212: 'bf96df77771ef0ed710d8e0e67917f45',
  213: 'e75e83499d3fa2e174dc2a8ffd238119',
  214: '0438114d2e6b96118de69bc9775bb21e',
  215: '07b13214cb69f2ec007d888450f3d6bc',
  216: 'f5e8fa1fc4252bda2f93dd27ed2d603f',
  217: 'c2a9c5d0e4578b928554c86f3d2c1162',
  218: '5f45325fdd6334a4c0d3b62853b19fa6',
  219: '085a0e120a08a80a58c0ae0ff9da565a',
  220: '8d5f47f01d7ad668419dfe9b7fe69c9a',
  221: 'bede4b24dae115d4cd43d2e6cc9812cb',
  222: '680b1ddfd50c4397b365c9c00f09b0d1',
  223: 'b26f83e904f3a778466ebcd763b7316a',
  224: '6620c54bd6b3a79800b2b67e999b24d0',
  225: '7f091b50fbbd892bf9fb869a64c47120',
  226: '57d39a680c9407cda0fb4de6d9c55138',
  227: '97388f4e4ea102a30345524bda465f4e',
  228: '066ecc3584913fa035ec1417323beb80',
  229: 'b530d04d393d71cffb8b8b07f4a82380',
  230: '06bdc4d55f34b2a491305534fd5defda',
  231: '8e44a17d2fa446ca220b90c7063b42ca',
  232: '7c17f51469f1a7145455f65ef6afbd87',
  233: 'e1432b72df561a1df34290679ec9c773',
  234: '549f00f6039e8bb702a00dcca08a8ed0',
  235: 'd8c4fe5e09b6f010fbaa85cc7302d66b',
  236: '0c42f45e4a14957ad4a6d521d0ba8bc3',
  237: '62a202eb98c0a4b09ba6746f5ee94ab3',
  238: 'a6c6df138cbc97b9f81e7ffbbebdde6f',
  239: '04f64fde5ba1ebde8ad78c74914adb34'},
 'latitude': {0: 49.262487,
  1: 49.274566,
  2: 49.279764,
  3: 49.260599,
  4: 49.264215,
  5: 49.270877,
  6: 49.26893,
  7: 49.271721,
  8: 49.287214,
  9: 49.282409,
  10: 49.287097,
  11: 49.273471,
  12: 49.282758,
  13: 49.286042,
  14: 49.28602,
  15: 49.279739,
  16: 49.277483,
  17: 49.275679,
  18: 49.282759,
  19: 49.288444,
  20: 49.289124,
  21: 49.28062,
  22: 49.279938,
  23: 49.273663,
  24: 49.28972,
  25: 49.285253,
  26: 49.283343,
  27: 49.284605,
  28: 49.279821,
  29: 49.278004,
  30: 49.279342,
  31: 49.273833,
  32: 49.28526,
  33: 49.281506,
  34: 49.276115,
  35: 49.272827,
  36: 49.269361,
  37: 49.2653,
  38: 49.262598,
  39: 49.25894,
  40: 49.258763,
  41: 49.266724,
  42: 49.262141,
  43: 49.268269,
  44: 49.275717,
  45: 49.276436,
  46: 49.277844,
  47: 49.265089,
  48: 49.28026,
  49: 49.291909,
  50: 49.293257,
  51: 49.288011,
  52: 49.28117,
  53: 49.283227,
  54: 49.299292,
  55: 49.29534,
  56: 49.294318,
  57: 49.298657,
  58: 49.259183,
  59: 49.263837,
  60: 49.270721,
  61: 49.265605,
  62: 49.267222,
  63: 49.262255,
  64: 49.257654,
  65: 49.25919,
  66: 49.25741,
  67: 49.285953,
  68: 49.280881,
  69: 49.256845,
  70: 49.25849,
  71: 49.258425,
  72: 49.270905,
  73: 49.273568,
  74: 49.277141,
  75: 49.267859,
  76: 49.265336,
  77: 49.267628,
  78: 49.275938,
  79: 49.2756,
  80: 49.284157,
  81: 49.258924,
  82: 49.266774,
  83: 49.273355,
  84: 49.276144,
  85: 49.268339,
  86: 49.284062,
  87: 49.261742,
  88: 49.262206,
  89: 49.27023,
  90: 49.262062,
  91: 49.27033,
  92: 49.258902,
  93: 49.282224,
  94: 49.265071,
  95: 49.265198,
  96: 49.273691,
  97: 49.2685027,
  98: 49.278529,
  99: 49.288682,
  100: 49.258864,
  101: 49.271741,
  102: 49.262822,
  103: 49.263635,
  104: 49.28763,
  105: 49.297933,
  106: 49.258819,
  107: 49.280284,
  108: 49.276294,
  109: 49.277469,
  110: 49.277665,
  111: 49.277436,
  112: 49.280332,
  113: 49.279369,
  114: 49.283992,
  115: 49.274881,
  116: 49.275882,
  117: 49.273777,
  118: 49.265005,
  119: 49.265024,
  120: 49.271377,
  121: 49.268616,
  122: 49.266969,
  123: 49.263242,
  124: 49.261403,
  125: 49.261263,
  126: 49.262242,
  127: 49.262321,
  128: 49.264251,
  129: 49.266751,
  130: 49.270684,
  131: 49.2731,
  132: 49.254667,
  133: 49.256694,
  134: 49.258352,
  135: 49.258817,
  136: 49.26151,
  137: 49.263382,
  138: 49.261353,
  139: 49.264466,
  140: 49.280197,
  141: 49.266725,
  142: 49.261188,
  143: 49.256857,
  144: 49.283986,
  145: 49.257985,
  146: 49.257939,
  147: 49.256496,
  148: 49.283236,
  149: 49.267266,
  150: 49.265242,
  151: 49.265213,
  152: 49.302577,
  153: 49.277595,
  154: 49.279235,
  155: 49.277333,
  156: 49.273103,
  157: 49.261973,
  158: 49.275295,
  159: 49.285871,
  160: 49.284893,
  161: 49.263962,
  162: 49.277615,
  163: 49.282214,
  164: 49.266456,
  165: 49.268216,
  166: 49.284554,
  167: 49.280216,
  168: 49.266314,
  169: 49.280852,
  170: 49.285512,
  171: 49.27821,
  172: 49.281301,
  173: 49.283298,
  174: 49.280787,
  175: 49.266476,
  176: 49.290587,
  177: 49.312568,
  178: 49.262835,
  179: 49.256825,
  180: 49.275683,
  181: 49.263518,
  182: 49.28691,
  183: 49.282503,
  184: 49.283749,
  185: 49.262944,
  186: 49.27029,
  187: 49.280427,
  188: 49.279259,
  189: 49.285836,
  190: 49.272969,
  191: 49.27247,
  192: 49.271471,
  193: 49.290112,
  194: 49.263523,
  195: 49.264928,
  196: 49.264483,
  197: 49.263746,
  198: 49.258761,
  199: 49.268974,
  200: 49.273011,
  201: 49.266924,
  202: 49.264326,
  203: 49.266636,
  204: 49.254818,
  205: 49.268837,
  206: 49.255034,
  207: 49.271044,
  208: 49.252691,
  209: 49.272172,
  210: 49.271082,
  211: 49.27808,
  212: 49.269969,
  213: 49.287528,
  214: 49.28803,
  215: 49.259579,
  216: 49.289070598986484,
  217: 49.287782,
  218: 49.28512,
  219: 49.247854,
  220: 49.265939,
  221: 49.261122,
  222: 49.267725,
  223: 49.245135,
  224: 49.274232,
  225: 49.238105,
  226: 49.246243,
  227: 49.249722,
  228: 49.243375,
  229: 49.282087,
  230: 49.283968,
  231: 49.287464,
  232: 49.285575,
  233: 49.251358,
  234: 49.249184,
  235: 49.245535,
  236: 49.289255,
  237: 49.252656,
  238: 49.277527,
  239: 49.259469},
 'longitude': {0: -123.114397,
  1: -123.121817,
  2: -123.110154,
  3: -123.113504,
  4: -123.117772,
  5: -123.115103,
  6: -123.11813,
  7: -123.104207,
  8: -123.11287,
  9: -123.118541,
  10: -123.118551,
  11: -123.118016,
  12: -123.122092,
  13: -123.113176,
  14: -123.116624,
  15: -123.116251,
  16: -123.114279,
  17: -123.116963,
  18: -123.106955,
  19: -123.139203,
  20: -123.12196,
  21: -123.12482,
  22: -123.127478,
  23: -123.127075,
  24: -123.144028,
  25: -123.134356,
  26: -123.131099,
  27: -123.108662,
  28: -123.10802,
  29: -123.105664,
  30: -123.101822,
  31: -123.114373,
  32: -123.141809,
  33: -123.120101,
  34: -123.114496,
  35: -123.147744,
  36: -123.13782,
  37: -123.13811,
  38: -123.138921,
  39: -123.139272,
  40: -123.115392,
  41: -123.104824,
  42: -123.101961,
  43: -123.147885,
  44: -123.142564,
  45: -123.11877,
  46: -123.120942,
  47: -123.119425,
  48: -123.135244,
  49: -123.140713,
  50: -123.138563,
  51: -123.132006,
  52: -123.104419,
  53: -123.120523,
  54: -123.130281,
  55: -123.150433,
  56: -123.148808,
  57: -123.121176,
  58: -123.120126,
  59: -123.105173,
  60: -123.146175,
  61: -123.152566,
  62: -123.153157,
  63: -123.126217,
  64: -123.153212,
  65: -123.148268,
  66: -123.148531,
  67: -123.124066,
  68: -123.130672,
  69: -123.120071,
  70: -123.104799,
  71: -123.100792,
  72: -123.126006,
  73: -123.129935,
  74: -123.122589,
  75: -123.145782,
  76: -123.145823,
  77: -123.127698,
  78: -123.145939,
  79: -123.102661,
  80: -123.099917,
  81: -123.152591,
  82: -123.141135,
  83: -123.154493,
  84: -123.151272,
  85: -123.157443,
  86: -123.095097,
  87: -123.13148,
  88: -123.109091,
  89: -123.10651,
  90: -123.104656,
  91: -123.10275,
  92: -123.109596,
  93: -123.132778,
  94: -123.123864,
  95: -123.131043,
  96: -123.102232,
  97: -123.0975014,
  98: -123.100017,
  99: -123.11818,
  100: -123.14353,
  101: -123.155421,
  102: -123.14338,
  103: -123.099236,
  104: -123.127245,
  105: -123.130758,
  106: -123.131317,
  107: -123.097052,
  108: -123.106534,
  109: -123.081315,
  110: -123.073653,
  111: -123.070427,
  112: -123.070068,
  113: -123.091241,
  114: -123.091206,
  115: -123.069323,
  116: -123.071865,
  117: -123.092723,
  118: -123.079481,
  119: -123.08127,
  120: -123.069416,
  121: -123.069908,
  122: -123.069936,
  123: -123.070521,
  124: -123.070102,
  125: -123.073707,
  126: -123.081459,
  127: -123.09306,
  128: -123.073853,
  129: -123.073501,
  130: -123.073562,
  131: -123.0732,
  132: -123.101389,
  133: -123.096579,
  134: -123.096337,
  135: -123.092797,
  136: -123.089413,
  137: -123.088837,
  138: -123.085333,
  139: -123.085183,
  140: -123.065859,
  141: -123.065925,
  142: -123.066009,
  143: -123.065646,
  144: -123.065264,
  145: -123.083366,
  146: -123.089531,
  147: -123.075426,
  148: -123.070443,
  149: -123.090786,
  150: -123.095577,
  151: -123.090785,
  152: -123.155616,
  153: -123.09583,
  154: -123.087528,
  155: -123.087359,
  156: -123.069892,
  157: -123.09725,
  158: -123.132585,
  159: -123.12105,
  160: -123.128685,
  161: -123.112621,
  162: -123.091654,
  163: -123.114101,
  164: -123.100324,
  165: -123.103168,
  166: -123.111031,
  167: -123.117639,
  168: -123.116011,
  169: -123.084746,
  170: -123.1384,
  171: -123.136972,
  172: -123.139108,
  173: -123.142288,
  174: -123.115271,
  175: -123.109389,
  176: -123.13625,
  177: -123.144177,
  178: -123.152626,
  179: -123.105234,
  180: -123.124388,
  181: -123.09568,
  182: -123.128818,
  183: -123.124697,
  184: -123.136133,
  185: -123.148109,
  186: -123.135025,
  187: -123.074082,
  188: -123.119145,
  189: -123.127265,
  190: -123.164325,
  191: -123.185643,
  192: -123.17731,
  193: -123.127062,
  194: -123.155267,
  195: -123.168068,
  196: -123.173926,
  197: -123.069892,
  198: -123.127071,
  199: -123.190701,
  200: -123.159663,
  201: -123.173849,
  202: -123.164725,
  203: -123.183661,
  204: -123.114785,
  205: -123.177633,
  206: -123.120226,
  207: -123.170661,
  208: -123.101289,
  209: -123.097978,
  210: -123.191458,
  211: -123.130557,
  212: -123.109623,
  213: -123.142139,
  214: -123.142135,
  215: -123.114769,
  216: -123.13840736946824,
  217: -123.12395,
  218: -123.11242,
  219: -123.153422,
  220: -123.1129,
  221: -123.097571,
  222: -123.11311,
  223: -123.116098,
  224: -123.129998,
  225: -123.154966,
  226: -123.124373,
  227: -123.104991,
  228: -123.104978,
  229: -123.056909,
  230: -123.061615,
  231: -123.060771,
  232: -123.061575,
  233: -123.115637,
  234: -123.116141,
  235: -123.120496,
  236: -123.132677,
  237: -123.067965,
  238: -123.129464,
  239: -123.145718}})

In [4]:
test_df = ids_ll
test_df

                           Station ID   latitude   longitude
0    7a19c49f486d7c0c02b3685d7b240448  49.262487 -123.114397
1    32603a87cfca71d0f7dfa3513bad69d5  49.274566 -123.121817
2    6d42fa40360f9a6b2bf641c7b8bb2862  49.279764 -123.110154
3    66f873d641d448bd1572ab086665a458  49.260599 -123.113504
4    485d4d24c803cfde829ab89699fed833  49.264215 -123.117772
..                                ...        ...         ...
235  d8c4fe5e09b6f010fbaa85cc7302d66b  49.245535 -123.120496
236  0c42f45e4a14957ad4a6d521d0ba8bc3  49.289255 -123.132677
237  62a202eb98c0a4b09ba6746f5ee94ab3  49.252656 -123.067965
238  a6c6df138cbc97b9f81e7ffbbebdde6f  49.277527 -123.129464
239  04f64fde5ba1ebde8ad78c74914adb34  49.259469 -123.145718

[240 rows x 3 columns]

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice. 
Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)
Put your parsed results into a DataFrame

Note: these are all done in a single step in the code below.

In [5]:
#Make fs GET request
fs_url = 'https://api.foursquare.com/v3/places/search'
fs_key = open(r"C:\Users\mnicn\local_documents\lighthouse-data-notes\Week 3\fs.txt").readlines()[0]
fs_headers = {
    "accept": "application/json",
    "Authorization": fs_key
}
#Set timestamp for Friday 2 pm
#fs_timestamp_fri = 1667595600
fs_timestamp_fri = '5T1400'

In [ ]:
#Create list with all results.
#Each time the OUTSIDE loop runs, it will put data into one row.
    #Note: in plain english, the business types in the list below (in order are):
        #Dining and Drinking > Bar, Dining and Drinking > Restaurant, Retail, Community and Government > Education, Arts and Entertainment
        #See category descriptions here: https://location.foursquare.com/places/docs/categories
fs_biz_types = ['13003','13065','17000','12009','10000']
fs_k = 0
fs_all_vals = []
while fs_k < test_df.shape[0]:
    fs_lat = str(test_df.iloc[fs_k][1])
    fs_long = str(test_df.iloc[fs_k][2])
    ll = fs_lat + ',' + fs_long

    fs_i = 0
    while fs_i < len(fs_biz_types):
    #Do 2 API requests within each round of the while loop, one for all businesses of a certain type, one for all open businesses of a certain type.
    #While loop to run 5 times (length of biz_types list)

        #Set parameters for ALL businesses of certain type
        fs_parameters_all = {
            'll' : ll,
            'radius':100,
            'limit':50,
            'fields': 'name',
            'categories': fs_biz_types[fs_i]
        }
        #Make API request and make JSON readable
        fs_response = requests.get(fs_url, headers=fs_headers, params=fs_parameters_all)
        fs_num_biz_all = len(json.loads(fs_response.text)['results'])
        #test_df.iloc[k][i+3] = num_biz_all
        fs_all_vals.append(fs_num_biz_all)

        #Set parameters for OPEN businesses of certain type
        fs_parameters_open = {
            'll' : ll,
            'radius':100,
            'limit':50,
            'fields': 'name',
            'open_at': fs_timestamp_fri,
            'categories': fs_biz_types[fs_i]
        }
        #Make API request and make JSON readable
        fs_response = requests.get(fs_url, headers=fs_headers, params=fs_parameters_open)
        fs_num_biz_open = len(json.loads(fs_response.text)['results'])
        fs_all_vals.append(fs_num_biz_open)
        fs_i += 1
    fs_k+=1
#print(all_vals)
fs_reshaped_vals = np.reshape(fs_all_vals, (fs_k,10))
fs_df_vals = pd.DataFrame(fs_reshaped_vals)
fs_df = pd.merge(test_df, fs_df_vals, left_index=True, right_index=True)

fs_all_col_names = ['Station ID', 'latitude', 'longitude', 'Dining and Drinking > Bar - All', 'Dining and Drinking > Bar - Open', 'Dining and Drinking > Restaurant - All', 'Dining and Drinking > Restaurant - Open', 'Retail - All', 'Retail - Open', 'Community and Government > Education - All', 'Community and Government > Education - Open', 'Arts and Entertainment - All', 'Arts and Entertainment - Open']
fs_df.columns = fs_all_col_names

In [ ]:
fs_df.to_csv("fs_df.csv", index=False)

#
# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice. 
Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)
Put your parsed results into a DataFrame

In [6]:
#Make Yelp GET request
url = 'https://api.yelp.com/v3/businesses/search'
key = open(r'C:\Users\mnicn\local_documents\lighthouse-data-notes\Week 3\Yelp2.txt').readlines()[0]
headers = {
    'Authorization': 'Bearer %s' % key
}
#Set timestamp for Friday 2 pm
timestamp_fri = 1667595600

In [ ]:
#Create list with all results.
#Each time the OUTSIDE loop runs, it will put data into one row. 
biz_types = ['nightlife, All','restaurants, All','shopping, All','education, All','arts, All']
k = 0
all_vals = []
while k < test_df.shape[0]:
    lat = test_df.iloc[k][1]
    long = test_df.iloc[k][2]

    i = 0
    while i < len(biz_types):
    #Do 2 API requests within each round of the while loop, one for all businesses of a certain type, one for all open businesses of a certain type.
    #While loop to run 5 times (length of biz_types list)

        #Set parameters for ALL businesses of certain type
        parameters_all = {
            'latitude' : lat,
            'longitude' : long,
            'radius':100,
            'limit':50,
            'categories': biz_types[i]
        }
        #Make API request and make JSON readable
        response = requests.get(url, headers=headers, params=parameters_all)
        num_biz_all = len(json.loads(response.text)['businesses'])
        #test_df.iloc[k][i+3] = num_biz_all
        all_vals.append(num_biz_all)

        #Set parameters for OPEN businesses of certain type
        parameters_open = {
            'latitude' : lat,
            'longitude' : long,
            'radius':100,
            'limit':50,
            'open_at': timestamp_fri,
            'categories': biz_types[i]
        }
        #Make API request and make JSON readable
        response = requests.get(url, headers=headers, params=parameters_open)
        num_biz_open = len(json.loads(response.text)['businesses'])
        all_vals.append(num_biz_open)
        i += 1
    k+=1
#print(all_vals)
reshaped_vals = np.reshape(all_vals, (k,10))
df_vals = pd.DataFrame(reshaped_vals)
yelp_df = pd.merge(test_df, df_vals, left_index=True, right_index=True)

all_col_names = ['Station ID', 'latitude', 'longitude', 'nightlife, All - total','nightlife, All - open','restaurants, All - total','restaurants, All - open', 'shopping, All - total','shopping, All - open', 'education, All - total','education, All - open', 'arts, All - total', 'arts, All - open']
yelp_df.columns = all_col_names

all_col_names = ['Station ID', 'latitude', 'longitude', 'nightlife, All - total','nightlife, All - open','restaurants, All - total','restaurants, All - open', 'shopping, All - total','shopping, All - open', 'education, All - total','education, All - open', 'arts, All - total', 'arts, All - open']
yelp_df.columns = all_col_names

#Save yelp file to csv
yelp_df.to_csv("yelp_df.csv", index=False)

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating

In [7]:
#Pull in data from csv files so that we are starting with fresh dfs, don't need to constantly rerun from loop above. 
fs_df = pd.read_csv("fs_df.csv")
yelp_df = pd.read_csv("yelp_df.csv")

In [8]:
fs_df.head(2)

,Station ID,latitude,longitude,Dining and Drinking > Bar - All,Dining and Drinking > Bar - Open,Dining and Drinking > Restaurant - All,Dining and Drinking > Restaurant - Open,Retail - All,Retail - Open,Community and Government > Education - All,Community and Government > Education - Open,Arts and Entertainment - All,Arts and Entertainment - Open
0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,1,1,7,3,4,1,1,1,1,0
1,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,7,2,25,15,23,10,2,0,3,0

In [9]:
yelp_df.head(2)

,Station ID,latitude,longitude,"nightlife, All - total","nightlife, All - open","restaurants, All - total","restaurants, All - open","shopping, All - total","shopping, All - open","education, All - total","education, All - open","arts, All - total","arts, All - open"
0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0,0,9,7,4,1,0,0,1,1
1,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,7,4,23,17,8,8,1,1,2,1

In [10]:
#Note - I didn't pull ratings. Will come back to this question if I have time.

In [11]:
#FS - create 2 new columns that sums the total of 1 - all venues, and 2 - all open venues
fs_df["Total Locations - All"] = fs_df["Dining and Drinking > Bar - All"] + fs_df["Dining and Drinking > Restaurant - All"] + fs_df["Retail - All"] + fs_df["Community and Government > Education - All"] + fs_df["Arts and Entertainment - All"]
fs_df["Total Locations - Open"] = fs_df["Dining and Drinking > Bar - Open"] + fs_df["Dining and Drinking > Restaurant - Open"] + fs_df["Retail - Open"] + fs_df["Community and Government > Education - Open"] + fs_df["Arts and Entertainment - Open"]

In [12]:
fs_df.head(2)

,Station ID,latitude,longitude,Dining and Drinking > Bar - All,Dining and Drinking > Bar - Open,Dining and Drinking > Restaurant - All,Dining and Drinking > Restaurant - Open,Retail - All,Retail - Open,Community and Government > Education - All,Community and Government > Education - Open,Arts and Entertainment - All,Arts and Entertainment - Open,Total Locations - All,Total Locations - Open
0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,1,1,7,3,4,1,1,1,1,0,14,6
1,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,7,2,25,15,23,10,2,0,3,0,60,27

In [13]:
#Yelp - create 2 new columns that sums the total of 1 - all venues, and 2 - all open venues
yelp_df["Total Locations - All"] = yelp_df["nightlife, All - total"] + yelp_df["restaurants, All - total"] + yelp_df["shopping, All - total"] + yelp_df["education, All - total"] + yelp_df["arts, All - total"]
yelp_df["Total Locations - Open"] = yelp_df["nightlife, All - open"] + yelp_df["restaurants, All - open"] + yelp_df["shopping, All - open"] + yelp_df["education, All - open"] + yelp_df["education, All - open"]

In [14]:
yelp_df.head(2)

,Station ID,latitude,longitude,"nightlife, All - total","nightlife, All - open","restaurants, All - total","restaurants, All - open","shopping, All - total","shopping, All - open","education, All - total","education, All - open","arts, All - total","arts, All - open",Total Locations - All,Total Locations - Open
0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0,0,9,7,4,1,0,0,1,1,14,8
1,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,7,4,23,17,8,8,1,1,2,1,41,31

In [15]:
#Rename columns of both fs and yelp dfs for consistency. 
consistent_col_names = ['Station ID', 'latitude', 'longitude', 'Bars - All','Bars - Open','Restaurants - All','Restaurants - Open', 'Shopping - All','Shopping - Open', 'Education - All','Education - Open', 'Arts and Entertainment - All', 'Arts and Entertainment - Open', 'Total - All Venues', 'Total - Open Venues']
fs_df.columns = consistent_col_names
fs_df.columns = consistent_col_names

In [16]:
print(fs_df.columns)
print(yelp_df.columns)

Index(['Station ID', 'latitude', 'longitude', 'Bars - All', 'Bars - Open',
       'Restaurants - All', 'Restaurants - Open', 'Shopping - All',
       'Shopping - Open', 'Education - All', 'Education - Open',
       'Arts and Entertainment - All', 'Arts and Entertainment - Open',
       'Total - All Venues', 'Total - Open Venues'],
      dtype='object')
Index(['Station ID', 'latitude', 'longitude', 'nightlife, All - total',
       'nightlife, All - open', 'restaurants, All - total',
       'restaurants, All - open', 'shopping, All - total',
       'shopping, All - open', 'education, All - total',
       'education, All - open', 'arts, All - total', 'arts, All - open',
       'Total Locations - All', 'Total Locations - Open'],
      dtype='object')

In [17]:
#Write dfs with totals to csv
yelp_df.to_csv("yelp_df_with_totals.csv", index=False)
fs_df.to_csv("fs_df_with_totals.csv", index=False)

In [18]:
#Read from csvs to ensure that nothing gets messed up in this step and beyond

In [34]:
fs_df_w_totals = pd.read_csv("fs_df_with_totals.csv")

In [25]:
cols_for_means = ['Bars - All','Bars - Open','Restaurants - All','Restaurants - Open', 'Shopping - All','Shopping - Open', 'Education - All','Education - Open', 'Arts and Entertainment - All', 'Arts and Entertainment - Open', 'Total - All Venues', 'Total - Open Venues']

In [26]:
fs_avgs = fs_df_w_totals[cols_for_means].mean()
print(fs_avgs)
print(type(fs_avgs))

Bars - All                        0.583333
Bars - Open                       0.241667
Restaurants - All                 4.925000
Restaurants - Open                2.875000
Shopping - All                    7.245833
Shopping - Open                   2.633333
Education - All                   1.458333
Education - Open                  0.204167
Arts and Entertainment - All      1.054167
Arts and Entertainment - Open     0.250000
Total - All Venues               15.266667
Total - Open Venues               6.204167
dtype: float64
<class 'pandas.core.series.Series'>

In [35]:
yelp_df_w_totals = pd.read_csv("yelp_df_with_totals.csv")

In [36]:
yelp_df_w_totals.columns = ['Station ID', 'latitude', 'longitude', 'Bars - All', 'Bars - Open',
       'Restaurants - All', 'Restaurants - Open', 'Shopping - All',
       'Shopping - Open', 'Education - All', 'Education - Open',
       'Arts and Entertainment - All', 'Arts and Entertainment - Open',
       'Total - All Venues', 'Total - Open Venues']

In [38]:
yelp_df_w_totals.head(2)

,Station ID,latitude,longitude,Bars - All,Bars - Open,Restaurants - All,Restaurants - Open,Shopping - All,Shopping - Open,Education - All,Education - Open,Arts and Entertainment - All,Arts and Entertainment - Open,Total - All Venues,Total - Open Venues
0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0,0,9,7,4,1,0,0,1,1,14,8
1,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,7,4,23,17,8,8,1,1,2,1,41,31

In [39]:
yelp_avgs = yelp_df_w_totals[cols_for_means].mean()
print(yelp_avgs)
print(type(yelp_avgs))

Bars - All                        0.791667
Bars - Open                       0.437500
Restaurants - All                 4.912500
Restaurants - Open                3.445833
Shopping - All                    4.720833
Shopping - Open                   3.241667
Education - All                   0.550000
Education - Open                  0.345833
Arts and Entertainment - All      1.004167
Arts and Entertainment - Open     0.350000
Total - All Venues               11.979167
Total - Open Venues               7.816667
dtype: float64
<class 'pandas.core.series.Series'>

In [40]:
#Combine data into a df for analysis. 
fs_avgs = pd.DataFrame(fs_avgs)
yelp_avgs = pd.DataFrame(yelp_avgs)

In [41]:
both_avgs = pd.concat([fs_avgs, yelp_avgs], axis=1)
cols_for_both = ['Foursquare', 'Yelp']
both_avgs.columns = cols_for_both
both_avgs

                               Foursquare       Yelp
Bars - All                       0.583333   0.791667
Bars - Open                      0.241667   0.437500
Restaurants - All                4.925000   4.912500
Restaurants - Open               2.875000   3.445833
Shopping - All                   7.245833   4.720833
Shopping - Open                  2.633333   3.241667
Education - All                  1.458333   0.550000
Education - Open                 0.204167   0.345833
Arts and Entertainment - All     1.054167   1.004167
Arts and Entertainment - Open    0.250000   0.350000
Total - All Venues              15.266667  11.979167
Total - Open Venues              6.204167   7.816667

In [42]:
#If I had more time, I would like to more closely investigate which API service is providing better information by category. 
#I would like to create bar charts to compare by category, and open vs closed businesses. 
#However, for the moment I will use Foursquare data in the next part of the project since there are more overall venues listed.